<!DOCTYPE html>
<html>
  <head>
    <title>Ecsite</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header>
      <div class="headercontainer">
        <a href="top"><div class="header-logo">
          新島商事（株）ウォリアーズ
        </div></a>
        <ul>
          <li>ログイン</li>
          <li>カート</li>
        </ul>
      </div>
    </header>
    <%= yield %>
  </body>
</html>
